body {
  /* 
    Set a 13px font-size with 20px line-height.
    All vertical elements should be in increments of the 20px.
  */
  font-size: 83.3331%;
}

#header {
  padding: 0 0 0.75em 0;
}

#footer {
  text-align: center;
  color: #666;
  padding: 0.75em 0 0.75em 0;
}

.bold {
  font-weight: bold;
}
