body {
  font-size: 81.25%;
  font-family: Helvetica, sans-serif;
  color: #333;
}

#header {
  padding: 0 0 0.75em 0;
}

#footer {
  text-align: center;
  color: #666;
  padding: 0.75em 0 0.75em 0;
}

.bold {
  font-weight: bold;
}
