body {
	margin: 0;
	padding: 0;
	background: #fff;
	font: 14px Georgia, Arial, Helvetica, sans-serif;
}
a {
	font-weight: bold;
	color: #06c;
	text-decoration: none;
}
a.decor {
	font-weight: normal;
	text-decoration: underline;
}
a.secondary {
	font-weight: normal;
}
a:hover {
	color: #FF9900;
}
ol {
	margin-top: 5px;
}
sup {
	font-size: 10px;
}
#content {
	background: #fff;
	padding: 10px;
	margin: 10px;
	min-height: 450px;
}
#content_printable {
	margin: 10px;
}
#quickstats {
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	border: 1px solid #ccc;
	width: 200px;
	height: 400px;
}
#quickstats .header {
	font-weight: bold;
	background: #C6CBCE;
	padding: 3px;
	text-align: center;
}
#quickstats .label {
	width: 125px;
	padding: 0 0 0 7px;
	float: left;
}
#quickstats .value {
	text-align: right;
	padding: 0 7px 0 0;
}
#notifications {
	height: 390px;
	margin: 0 210px 0 0;
	padding: 5px;
	border: 1px solid #ccc;
}
#adminmenu {
	position: relative;
	background: #C6CBCE;
	float: left;
	width: 500px;
}
#statusbar {
	background: #C6CBCE;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	padding: 1px 10px 1px 1px;
	text-align: right;
}
#header {
	height: 60px;
	margin: 0;
	background: #06c;
}
#footer {
	font-size: 12px;
	text-align: center;
	padding: 0 0 10px;
}
#footer a {
	font-weight: normal;
}
form {
	padding: 0;
	margin: 0;
}
select.listbox {
	font: 14px Georgia, Arial, Helvetica, sans-serif;
	margin: 2px 1px 2px 0;
}
input.textbox, textarea.textbox {
	font: 14px Georgia, Arial, Helvetica, sans-serif;
	color: #f00;
	margin: 0;
	border: 1px solid #666;
	background: white;
	padding-left: 3px;
}
textarea.textbox {
	padding: 5px;
}
.text {
	font: 14px Georgia, Arial, Helvetica, sans-serif;
}
.content-title {
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 10px 0;
	padding: 0;
	color: #666;
}

/* Tab styles */
.tab-page {
	width: auto;
	margin: 0;
	padding: 10px;
	background: #f9f9f9;
	border-width: 1px;
	border-color: #ccc;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}
.tab-row {
	font: 14px Georgia, Arial, Helvetica, sans-serif;
	text-align: center;
	white-space: nowrap;
	margin: 0 0 0 1px !important;
	margin: 0;
	border-collapse: collapse;
}
.tab {
	background-color: #eee;
	border: 1px solid #ccc;
	border-width: 1px;	
	text-align: center;
	white-space: nowrap;
	padding: 3px 5px;
}
.tab-selected {
	padding: 3px 5px;
	font-weight: bold;
	background-color: #F9F9F9;
	border: 1px solid #ccc;
	border-bottom-style: none;
	text-align: center;
	white-space: nowrap;
}
.tab-last {
	border: 1px none #ccc;	
	border-bottom-style: solid;
	width: 100%;
}
.section {
	background: #eee;
	border: 1px solid #ccc;
	border-color: #CCCCCC;
	margin-bottom: 10px;
	padding: 5px;
}
.nobullet {
	list-style-type: none;
}
.warning {
	background-color: #EEEEEE;
	padding: 5px;
	border: solid 1px #CCCCCC;
}
.cfg-lbl {
	width: 150px;
	vertical-align: top;
	padding: 5px 20px 5px 5px;
}
.cfg-opt {
	width: 200px;
	vertical-align: top;
	padding: 5px;
}
.cfg-dsc {
	padding: 5px;
	vertical-align: top;
}
.cfg-err {
	padding: 5px;
	vertical-align: top;
	color: #FF0000;
}
.cfg-lbl2 {
	width: 150px;
	vertical-align: top;
	padding: 5px;
	background-color: #E5E5E5;
}
.cfg-opt2 {
	width: 200px;
	vertical-align: top;
	padding: 5px;
	background-color: #E5E5E5;
}
.cfg-dsc2 {
	padding: 5px;
	vertical-align: top;
	background-color: #E5E5E5;
}
.cfg-update {
	color: #f00;
}
.list_header {
	padding: 3px;
	background: #c6cbce;
}
.list_item {
	padding: 3px;
	border-bottom: 1px solid #ddd;
	vertical-align: top;
}
.button {
	font: 14px Georgia, Arial, Helvetica, sans-serif;
	height: 22px;
	margin-bottom: 2px;
}
.checkbox {
	margin: 0;
}
iframe.log {
	border: 1px solid #ccc;
	overflow: auto;
}
