body {
	margin: 0px;
	padding: 0px;
	background-color: white;
	font: normal 8pt Georgia, Arial, Helvetica, sans-serif;
}
p {
	font: normal 8pt Georgia, Arial, Helvetica, sans-serif;
}
a {
	font-weight: bold;
	color: #0066CC;
	text-decoration: none;
}
a.decor {
	font-weight: normal;
	text-decoration: underline;
}
ol {
	margin-top: 5px;
}
a.secondary {
	font-weight: normal;
}
a:hover {
	color: #FF9900;
}
sup {
	font-size: 10px;
}
#content {
	background-color: white;
	padding: 10px;
	margin: 10px;
	min-height: 450px;
}
#content_printable {
	margin: 10px;
}
#quickstats {
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
	border: solid 1px #CCCCCC;
	width: 200px;
	height: 400px;
}
#quickstats .header {
	font-weight: bold;
	background-color: #C6CBCE;
	padding: 3px;
	text-align: center;
}
#quickstats .label {
	width: 125px;
	padding: 0px 0px 0px 7px;
	float: left;
}
#quickstats .value {
	text-align: right;
	padding: 0px 7px 0px 0px;
}
#notifications {
	position: relative;
	top: 0px;
	left: 0px;
	border: solid 1px #CCCCCC;
	height: 390px;
 	margin: 0px 210px 0px 0px;
	padding: 5px;
}
#adminmenu {
	position: relative;
	background-color: #C6CBCE;
	float: left;
}
#statusbar {
	background-color: #C6CBCE;
	font:	normal 8pt Verdana, Arial, Helvetica, sans-serif;
	padding: 1px 10px 1px 1px;
	text-align: right;
}
#header {
	height: 60px;
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	background-color: #0066CC;
}
#footer {
	font-size: 8pt;
	text-align: center;
	padding: 0px 0px 10px;
}
form {
	padding: 0px;
	margin: 0px;
}
select.listbox {
	font: normal 8pt Georgia, Arial, Helvetica, sans-serif;
	margin: 2px 1px 2px 0px;
}
input.textbox {
	font: normal 8pt Georgia, Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0px;
	border: 1px solid #666666;
	background: white;
	padding-left: 3px;
}
textarea.textbox {
	font: normal 8pt Georgia, Arial, Helvetica, sans-serif;
	color: #FF0000;
	margin: 0px;
	border: 1px solid #666666;
	background: white;
	padding: 5px;
}
.text {
	font: normal 8pt Georgia, Arial, Helvetica, sans-serif;
}
.content-title {
	font-weight: bold;
	font-size: 14pt;
	margin:0px 0px 10px 0px;
	padding:0px;
	color: #666666;
}
.content-menubar {
	font-weight: bold;
	font-size: 10pt;
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #999999;
	padding: 5px 0px;
	margin: 0px 0px 20px 0px;
	clear: both
}
.tab-page {
	width: auto;
	margin: 0px;
	padding: 10px;
	background-color: #F9F9F9;
	border-width: 1px;
	border-color: #CCCCCC;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}
.tab-row {
	font: 8pt Georgia, Arial, Helvetica, sans-serif;
	text-align: center;
	white-space: nowrap;
	margin: 0px 0px 0px 1px !important;
	margin: 0px;
	border-collapse: collapse;
}
.tab {
	background-color: #EEEEEE;
	border-width: 1px;	
	border-color: #CCCCCC;
	border-right-style: solid;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	text-align: center;
	white-space: nowrap;
	padding: 3px 5px;
}
.tab-selected {
	padding: 3px 5px;
	font-weight: bold;
	background-color: #F9F9F9;
	border-width: 1px;
	border-color: #CCCCCC;
	border-bottom-style: none;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	text-align: center;
	white-space: nowrap;
}
.tab-last {
	border-width: 1px;	
	border-color: #CCCCCC;
	border-bottom-style: solid;
	width: 100%;
}
.section {
	background-color: #EEEEEE;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 10px;
	padding: 5px;
}
.nobullet {
	list-style-type: none;
}
.surname_col1 {
	padding: 0px 5px 0px 0px;
	width: 300px;
}
.surname_col2 {
	padding: 0px 5px 0px 5px;
	width: 150px;
}
.warning {
	background-color: #EEEEEE;
	padding: 5px;
	border: solid 1px #CCCCCC;
}
.cfg-lbl {
	width: 150px;
	vertical-align: top;
	padding: 5px 20px 5px 5px;
}
.cfg-opt {
	width: 200px;
	vertical-align: top;
	padding: 5px;
}
.cfg-dsc {
	padding: 5px;
	vertical-align: top;
}
.cfg-err {
	padding: 5px;
	vertical-align: top;
	color: #FF0000;
}
.cfg-lbl2 {
	width: 150px;
	vertical-align: top;
	padding: 5px;
	background-color: #E5E5E5;
}
.cfg-opt2 {
	width: 200px;
	vertical-align: top;
	padding: 5px;
	background-color: #E5E5E5;
}
.cfg-dsc2 {
	padding: 5px;
	vertical-align: top;
	background-color: #E5E5E5;
}
.cfg-updates {
		
}
.cfg-update {
	color: #FF0000;
}
.list_header {
	padding: 3px;
	background-color: #C6CBCE;
}
.list_item {
	padding: 3px;
	border-bottom: 1px solid #DDDDDD;
}
.button {
	font: normal 8pt Georgia, Arial, Helvetica, sans-serif;
	height: 22px;
	margin-bottom: 2px;
}
.checkbox {
	margin: 0px;
}
