/* FIX IE6 Scrollbars bug - Leave this in! */
html { 
	overflow-x: auto; 
}

body {
	color:#333;
	background-color:white;
	margin: 0px;
	padding: 0px;
	font: normal 8pt Verdana, Arial, Helvetica, sans-serif;
}

h1 {
	font: bold 20pt Verdana, Arial, Helvetica, sans-serif;
	margin:0px 0px 15px 0px;
	padding:0px;
	color:#999999; 
}

h3 {
	font: bold 10pt Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

p {
	font: 8pt/1.2em Verdana, Arial, Helvetica, sans-serif;
}

a {
	font-weight: bold;
	color: #0066CC;
	text-decoration: none;
}

a.secondary {
	font-weight: normal;
}

a:hover {
	color: #FF9900;
}

#content {
	background-color: white;
	padding: 10px 0px 10px 10px;
	z-index: 3;
	margin: 10px 10px 10px 220px;
}

/* Opera 7 fix */
body>#content {
	height: 450px;
}

#utils {
	position: relative;
	top: 0px;
	right: 0px;
	float: right;
}

#navAlpha {
	position: absolute;
	top: 80px;
	left: 10px;
	width: 200px;
	border: 1px solid #999999;
	background: #EEEEEE;
	padding: 10px;
	z-index: 2;
}

/* Opera 7 fix */
body>#navAlpha {
	width: 180px;
}

#header {
	height: 50px;
	margin: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}

#footer {
	font: normal 8pt Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	clear: both;
}

.col1 {
	position: static;
	height: 11pt;
	width: 125px;
	padding: 0px 10px 0px 0px;
	float: left;
	overflow: hidden;
	font-weight: bold;
}

.col2 {
	position: static;
	height: 11pt;
	width: 150px;
	padding: 0px 10px 0px 0px;
	float: left;
	overflow: hidden;
}

.col3 {
	position: static;
	height: 11pt;
	width: auto;
	overflow: hidden;
	clear: right;
}

.col2-2 {
	position: relative;
	left: -3px;
	height: 11pt;
	width: auto;
	clear: right;
}

.col2-3 {
	position: relative;
	left: -3px;
	height: 11pt;
	width: 50px;
	clear: right;
	text-align: right;
}

/* Opera 7 fix */
div>.col2-2 {
	position:static;
}

form {
	padding: 0px;
	margin: 0px;
}

select.listbox {
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	margin: 2px 1px 2px 0px;
}

input.textbox {
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
	border: 1px solid #666666;
	background: #FFFFFF;
}

.pedbox {
	padding: 1px 2px 1px 2px;
	text-align: left;
	vertical-align: middle;
}

.pedbox-text {
	font: 7pt Verdana, Arial, Helvetica, sans-serif;
}

.text {
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
}

.menu-title {
	font: bold 11pt Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	padding: 0px;
	margin: 5px 0px 5px 0px;
}

.menu-item {
	font: bold 9pt/1.4em Verdana, Arial, Helvetica, sans-serif;
}

.content-title {
	font:bold 14pt Verdana, Arial, Helvetica, sans-serif;
	margin:0px 0px 20px 0px;
	padding:0px;
	color: #666666;
}

.content-subtitle {
	font: bold 10pt Verdana, Arial, Helvetica, sans-serif;
	border-width: 1px;
	border-bottom-style: dotted;
	border-color: #999999;
	padding: 5px 0px;
	margin: 10px 0px 10px 0px;
	clear: both
}

.content-menubar {
	font: bold 10pt Verdana, Arial, Helvetica, sans-serif;
	border-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #999999;
	padding: 5px 0px;
	margin: 0px 0px 20px 0px;
	clear: both
}

.tab-row {
	background-color: #EEEEEE;
	border-width: 1px;
	border-color: #999999;
	border-bottom-style: solid;
	padding: 4px 0px 4px 0px;
	margin: 0px;
}

.tab-page {
	width: 100%;
	border-width: 1px;
	border-color: #999999;
	margin: 0px;
	padding: 5px;
}

.tab-row .tab {
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	background-color: #EEEEEE;
	display: inline;
	padding: 4px 6px;
	margin: 0px -1px 0px 1px;
	border-width: 1px;
	border-color: #999999;
	border-bottom-style: solid;
	border-right-style: solid;
	white-space: nowrap;
}

.tab-row .tab.selected {
	padding: 4px 6px 5px 6px;
	margin: 0px 0px 0px 0px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom: 0;
	background-color: White;
	font-weight: bold;
	color: #666666;
	white-space: nowrap;
}
